
.head-part{
    border: 1px solid red;
    text-align: center;
    margin-top: 10px;
}
.head-part-one{
    margin-right: 40px;
}
.head-part div {
    display: inline-block;
    border: 1px solid red;
}
.head-part a{
    text-decoration: none;
    display: block;
    width: 230px;
    height: 20px;
    background-color: #00bff3;
}
.head-part a:hover{
    background-color: #00aeef;
    font-weight: bold;
}

.the-page-ul {
    display: block;
    margin: 220px 0 0 -150px;
    margin-top: -270px;
    position: absolute;
    top: 50%;
    left: 25%;
    height: 400px;
    width: 300px;
    -webkit-user-select: none;
}
.the-page-ul li{
    display: block;
    background-color: #00aeef;
    height: 50px;
    width: 100px;
    margin: 0 0 100px 0;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    border: 1px solid red;
}

.the-page-ul li {
    top: 50%;
    left: 50%;
}

.title {
    margin-top: 20px;
    position: fixed;
    top: 10px;
    left: 75%;
    border: red 2px solid;
    height: 55px;
    width: 105px;
}
.title p{
    text-align: center;
    font-size: 20px;
    color:red;
}

.img-part{
    margin-top: 30px;
    width: 500px;
    height: 550px;
    border: 2px red solid;
}
.img-info{
    /*align: center;*/
    height: 21px;
    margin: 0 auto 0 auto;
    color: #485463;
    background-color: wheat;
    border: 1px yellow solid;
}

.article-part{
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    width: 500px;
    height: 300px;
    border: 1px red solid;
}

.article-content{
    text-align: center;
}

.foot-part{
    margin:10px auto;

    width: 500px;
    height: 100px;
    border: red 1px solid;
}

.foot-part-aritle{
    margin: 3px;
    text-align: center;
    font-family: "Songti TC";
    font-size: 12px;
}

.foot-part-info{
    display: block;
    margin-top: 40px;
    margin-left: 75%;
    font-family: 'Kozuka Mincho Pr6N', 'Kozuka Mincho Pro', 'Han Songti', serif;
    font-size: 8px;

}

/*.img_info{*/
    /*width: auto;*/
    /*height: 20px;*/
    /*background: wheat;*/
    /*border-color: darkred;*/
/*}*/